docs/OX_Services_WhatsApp_Workflow.json
{
    "name": "OX Services WhatsApp AI",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "whatsapp",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                0,
                0
            ],
            "id": "wh-whatsapp",
            "name": "WhatsApp Webhook",
            "webhookId": "ox-whatsapp"
        },
        {
            "parameters": {
                "httpMethod": "GET",
                "path": "whatsapp",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                0,
                -200
            ],
            "id": "wh-verify",
            "name": "WhatsApp Verify",
            "webhookId": "ox-whatsapp-verify"
        },
        {
            "parameters": {
                "respondWith": "text",
                "responseBody": "={{ $json.query['hub.challenge'] }}",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                220,
                -200
            ],
            "id": "respond-verify",
            "name": "Respond Verify"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "check-message",
                            "leftValue": "={{ $json.body.entry[0].changes[0].value.messages }}",
                            "rightValue": "",
                            "operator": {
                                "type": "exists",
                                "operation": "exists"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                220,
                0
            ],
            "id": "check-message",
            "name": "Has Message?"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "from",
                            "name": "from",
                            "value": "={{ $json.body.entry[0].changes[0].value.messages[0].from }}",
                            "type": "string"
                        },
                        {
                            "id": "message",
                            "name": "message",
                            "value": "={{ $json.body.entry[0].changes[0].value.messages[0].text.body }}",
                            "type": "string"
                        },
                        {
                            "id": "phoneNumberId",
                            "name": "phoneNumberId",
                            "value": "={{ $json.body.entry[0].changes[0].value.metadata.phone_number_id }}",
                            "type": "string"
                        },
                        {
                            "id": "messageId",
                            "name": "messageId",
                            "value": "={{ $json.body.entry[0].changes[0].value.messages[0].id }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                440,
                0
            ],
            "id": "extract-data",
            "name": "Extract Message Data"
        },
        {
            "parameters": {
                "agent": "conversationalAgent",
                "promptType": "define",
                "text": "={{ $json.message }}",
                "options": {
                    "systemMessage": "You are the virtual assistant for OX Services, a company specialized in construction and renovation services.\n\nIMPORTANT: Always detect the language the user is writing in and respond in that SAME language. If they write in English, respond in English. If they write in Portuguese, respond in Portuguese. If they write in Spanish, respond in Spanish. And so on.\n\nSERVICES OFFERED:\n1. Aluminum Joinery & Glazing - Windows, doors, facades\n2. Solar PV Systems - Solar panel installation\n3. Bespoke Furniture - Custom cabinets, tables, wooden doors\n4. EPDM Roofing - Roof waterproofing\n\nYOUR OBJECTIVE:\n- Be cordial, professional and helpful\n- Understand what service the customer is looking for\n- Collect important information:\n  * Customer name\n  * Type of service desired\n  * Location/address of the project\n  * Dimensions or quantity (if applicable)\n  * Desired timeline\n  * Best contact method (phone/email)\n\nRULES:\n- ALWAYS respond in the user's language\n- Be concise but informative\n- Ask one question at a time to avoid overwhelming\n- Use emojis occasionally to be friendly\n- At the end of the conversation, summarize the collected information\n- Keep responses short for WhatsApp (max 2-3 paragraphs)"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.7,
            "position": [
                660,
                0
            ],
            "id": "agent-wa",
            "name": "AI Agent"
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $('Extract Message Data').item.json.from }}"
            },
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.3,
            "position": [
                780,
                200
            ],
            "id": "memory-wa",
            "name": "Window Buffer Memory"
        },
        {
            "parameters": {
                "model": "llama-3.3-70b-versatile",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
            "typeVersion": 1,
            "position": [
                500,
                200
            ],
            "id": "groq-wa",
            "name": "Groq Chat Model"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://graph.facebook.com/v21.0/{{ $('Extract Message Data').item.json.phoneNumberId }}/messages",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('Extract Message Data').item.json.from }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"preview_url\": false,\n    \"body\": \"{{ $json.output.replace(/\"/g, '\\\\\"').replace(/\\n/g, '\\\\n') }}\"\n  }\n}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                880,
                0
            ],
            "id": "send-whatsapp",
            "name": "Send WhatsApp Reply",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "CONFIGURE_YOUR_CREDENTIAL_ID",
                    "name": "WhatsApp API Token"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\"status\": \"ok\"}",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1100,
                0
            ],
            "id": "respond-ok",
            "name": "Respond OK"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\"status\": \"ok\"}",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                440,
                150
            ],
            "id": "respond-no-message",
            "name": "Respond No Message"
        }
    ],
    "connections": {
        "WhatsApp Verify": {
            "main": [
                [
                    {
                        "node": "Respond Verify",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "WhatsApp Webhook": {
            "main": [
                [
                    {
                        "node": "Has Message?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has Message?": {
            "main": [
                [
                    {
                        "node": "Extract Message Data",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond No Message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Message Data": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "Send WhatsApp Reply",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Groq Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Window Buffer Memory": {
            "ai_memory": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Send WhatsApp Reply": {
            "main": [
                [
                    {
                        "node": "Respond OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "tags": []
}