docs/OX_Services_Groq_Workflow.json
{
    "name": "OX Services Chat - Groq",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "oxchat",
                "responseMode": "lastNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                0,
                0
            ],
            "id": "webhook-groq",
            "name": "Webhook",
            "webhookId": "ox-chat-groq"
        },
        {
            "parameters": {
                "agent": "conversationalAgent",
                "promptType": "define",
                "text": "={{ $json.body.message }}",
                "options": {
                    "systemMessage": "You are the virtual assistant for OX Services, a company specialized in construction and renovation services.\n\nIMPORTANT: Always detect the language the user is writing in and respond in that SAME language. If they write in English, respond in English. If they write in Portuguese, respond in Portuguese. If they write in Spanish, respond in Spanish. And so on.\n\nSERVICES OFFERED:\n1. Aluminum Joinery & Glazing - Windows, doors, facades\n2. Solar PV Systems - Solar panel installation\n3. Bespoke Furniture - Custom cabinets, tables, wooden doors\n4. EPDM Roofing - Roof waterproofing\n\nYOUR OBJECTIVE:\n- Be cordial, professional and helpful\n- Understand what service the customer is looking for\n- Collect important information:\n  * Customer name\n  * Type of service desired\n  * Location/address of the project\n  * Dimensions or quantity (if applicable)\n  * Desired timeline\n  * Best contact method (phone/email)\n\nRULES:\n- ALWAYS respond in the user's language\n- Be concise but informative\n- Ask one question at a time to avoid overwhelming\n- Use emojis occasionally to be friendly\n- At the end of the conversation, summarize the collected information"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.7,
            "position": [
                220,
                0
            ],
            "id": "agent-groq",
            "name": "AI Agent"
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $json.body.sessionId }}"
            },
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.3,
            "position": [
                340,
                200
            ],
            "id": "memory-groq",
            "name": "Window Buffer Memory"
        },
        {
            "parameters": {
                "model": "llama-3.3-70b-versatile",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
            "typeVersion": 1,
            "position": [
                60,
                200
            ],
            "id": "groq-model",
            "name": "Groq Chat Model"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "response-field",
                            "name": "response",
                            "value": "={{ $json.output }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                440,
                0
            ],
            "id": "set-response-groq",
            "name": "Format Response"
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "Format Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Groq Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Window Buffer Memory": {
            "ai_memory": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "tags": []
}